.todo-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    h1 {
        text-transform: uppercase;
        font-family: Geneva, Arial, Helvetica, sans-serif;
    }
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    &__form {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #9d9d9d;
        &-container {
            width: 40%;
            display: flex;
            padding: 0 0 0 2px;
            align-items: center;
            border: 1px solid #9d9d9d;
            border-radius: 7px;
            margin-bottom: 20px;
        }
    }
    &__list {
        width: 100%;
        margin-top: 25px;
    }
    &__input-edit {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    &__item {
        flex-direction: column;
        &-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 38%;
            min-height: 150px;
            margin-bottom: 15px;
            padding: 15px 15px 0;
            border: 1px solid #9d9d9d;
            border-radius: 10px;
            -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
        }
        &-body {
            width: 100%;
            flex: 1;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    &__buttons {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        button {
            border-width: thin;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            font-size: 9px;
            padding: 0;
            border: 1px solid #9e9e9e;
        }
        &-add {
            width: 15%;
            height: 31px;
            color: #fff;
            background-color: #1D9DAA;
            border-radius: 5px;
            border-color: #1D9DAA;
            border: 1px solid #1D9DAA;
        }
        &-delete {
            background-color: #9e9e9e;
            border-color: #9e9e9e;
        }
        &-edit {
            background-color: #1D9DAA;
            border-color: #1D9DAA;
            border-color: #1D9DAA;
            border: 1px solid #1D9DAA !important;
        }
        .active {
            background-color: #fff;
            border-color: #9d9d9d;
        }
    }
    &__score {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 30px;
        margin: -10px -15px 0;
        div {
            width: 100%;
            height: 30px;
            border-radius: 0 0 10px 10px;
        }
        &-red {
            background-color: #C4051B;
        }
        &-orange {
            background-color: #ff8c19;
        }
        &-green {
            background-color: #019629;
        }
    }
}
input#newitem {
    width: 85%;
    height: 25px;
    border: none;
}
input#title {
    width: 80%;
    height: 25px;
}
.slider {
    width: 100%;
    min-height: 100%;
    &__body {
        padding: 20px;
        padding-bottom: 30px;
    }
}
input[type="range"] {
    width: 100%;
}

